.col-xs-4
  .panel.panel-primary
    %h3.panel-heading= card.name
    .panel-body
      %h4= card.flavor
    .panel-footer
      .btn.btn-danger Attack (#{card.attack})
      .btn.btn-success Health (#{card.health})
